example/nRF52832/blank/arm5_no_packs/*
!example/nRF52832/blank/arm5_no_packs/nfc_card_emulator.uvoptx
!example/nRF52832/blank/arm5_no_packs/nfc_card_emulator.uvprojx
example/nRF52840/blank/arm5_no_packs/*
!example/nRF52840/blank/arm5_no_packs/nfc_card_emulator.uvoptx
!example/nRF52840/blank/arm5_no_packs/nfc_card_emulator.uvprojx
ntag215_keys.h
